 
    body {
      background-color: white;

      font-family: Arial, sans-serif;
      background-color: white;
      margin: 0;
      padding: 0;



    }

    header {
      display: flex;
      align-items: center;
      background-color: white;
      width: 1358px;
      height: 100px;
      outline: 3px solid grey;
      margin-bottom: 4px;
      gap: 5%;
      position: relative;
     

    }

    .e1 {
      width: 164px;
      height: 90px;
      background-color: rgb(28, 26, 26);
      border-radius: 30px;
      text-align: center;
      color: white;



    }


    #click-coin {
      width: 350px;
      height: 350px;

    }

    main {
      width: 440px;
      height: 620px;
      background-color: rgb(28, 27, 25);
      border-radius: 3%;
      display: grid;
      align-items: center;
      margin-top: 20px;
      margin-left: 450px;
      box-shadow: 0 6px 12px;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT';




    }


    .wallet {
      font-size: 40px;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 80px;
    }

    .wel {
      text-align: center;
      
    }

    .plus-one {
      position: fixed;
      color: gold;
      font-size: 18px;
      font-weight: bold;
      opacity: 1;
      animation: tapFloat 0.8s ease-out forwards;
      pointer-events: none;
      z-index: 999;
    }

    @keyframes tapFloat {
      0% {
        transform: translateY(0);
        opacity: 1;
      }

      100% {
        transform: translateY(-25px);
        opacity: 0;
      }
    }

    nav {
      position: fixed;
      width: 300px;
      height: 370px;
      outline: 2px solid black;
      font-family: fantasy;
      text-align: center;
      font-size: x-large;
      color: gold;
      /* margin-bottom: 20px;  */
      padding-top: 2%;
      

    }
    .fb{
      display: flex;
      gap: 50%;
    }